<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="header">

	<link th:href="@{/css/header.css}" rel="stylesheet"/>

	<!-- 상단 메뉴 -->
	<header class="header">
		<div class="header-content">
			<!-- 좌측 로고 -->
			<a th:href="@{/post/list}" class="logo">WearUp</a>

			<!-- 중앙 메뉴 -->
			<nav class="header-nav">
				<a sec:authorize="!hasAnyAuthority('BRAND', 'ADMIN')" th:href="@{/post/list}" class="nav-link">피드</a>
				<a sec:authorize="!hasAnyAuthority('BRAND', 'ADMIN')" th:href="@{/item/list}" class="nav-link">아이템</a>

				<a sec:authorize="hasAuthority('USER')" th:href="@{/post/write}" class="nav-link">업로드</a>
				<a sec:authorize="hasAuthority('USER')" th:href="@{/user/mypage/detail}" class="nav-link">마이페이지</a>


				<a sec:authorize="hasAuthority('BRAND')" th:href="@{/brand/list}" class="nav-link">상품 관리</a>
				<a sec:authorize="hasAuthority('BRAND')" th:href="@{/brand/rental/list}" class="nav-link">대여 관리</a>
				<a sec:authorize="hasAuthority('BRAND')" th:href="@{/brand/delivery/list}" class="nav-link">배송 관리</a>
				<a sec:authorize="hasAuthority('BRAND')" th:href="@{/brand/mypage/detail}" class="nav-link">마이페이지</a>


				<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin/sales}" class="nav-link">매출 관리</a>
				<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin/users}" class="nav-link">회원 관리</a>
			</nav>

			<!-- 우측 메뉴 -->
			<div class="header-right">
				<div sec:authorize="hasAuthority('USER')" class="nav-link no-hover user-info">
					<span class="username" sec:authentication="name"></span>
					<span class="detail-name">(<span sec:authentication="principal.user.name"></span>)</span>
				</div>

				<div sec:authorize="hasAuthority('BRAND')" class="nav-link no-hover user-info">
					<span class="username" sec:authentication="name"></span>
					<span class="detail-name">(<span sec:authentication="principal.brand.name"></span>)</span>
				</div>

				<a sec:authorize="isAnonymous()" th:href="@{/login}" class="nav-link" id="login">로그인</a>
				<a sec:authorize="isAnonymous()" th:href="@{/register/kind}" class="nav-link" id="register">회원가입</a>
				<a sec:authorize="hasAnyAuthority('USER', 'BRAND', 'ADMIN')" th:href="@{/logout}" class="nav-link" id="logout">로그아웃</a>
			</div>
		</div>
	</header>

</th:block>

</html>