<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Order Detail</title>
</head>
<body>
<div class="container mt-3">
    
    <!-- 상단 메뉴 -->
    <header class="header">
        <div class="header-content">
            <a href="#" class="logo">WearUp</a>
            <nav class="header-nav">
                <!-- 전체 공개 메뉴 -->
                <a th:href="@{/post/list}" class="nav-link">피드</a>
                <a th:href="@{/item/list}" class="nav-link">아이템</a>
                <a sec:authorize="isAnonymous()" th:href="@{/login}" class="nav-link" id="login">로그인</a>
                <a sec:authorize="isAnonymous()" th:href="@{/register/kind}" class="nav-link" id="register">회원가입</a>
                
                <!-- 로그인 사용자 전용 메뉴 -->
                <a sec:authorize="hasAnyAuthority('USER', 'BRAND', 'ADMIN')" th:href="@{/logout}" class="nav-link" id="logout">로그아웃</a>
                
                <!-- USER 전용 메뉴 -->
                <a sec:authorize="hasAnyAuthority('USER')" th:href="@{/user/mypage/detail}" class="nav-link">마이페이지</a>
                <div sec:authorize="hasAnyAuthority('USER')"
                     th:text="${#authentication.principal.username + ' (' + #authentication.principal.user.name + ')'}"
                     id="user-username" class="nav-link"></div>
                
                <!-- BRAND 전용 메뉴 -->
                <a sec:authorize="hasAnyAuthority('BRAND')" th:href="@{/brand/list}" class="nav-link">상품 관리</a>
                <a sec:authorize="hasAnyAuthority('BRAND')" th:href="@{/brand/mypage/detail}" class="nav-link">마이페이지</a>
                <div sec:authorize="hasAnyAuthority('BRAND')"
                     th:text="${#authentication.principal.username + ' (' + #authentication.principal.brand.name + ')'}"
                     id="brand-username" class="nav-link"></div>
                
                <!-- ADMIN 전용 메뉴 -->
                <a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{/admin/sales}" class="nav-link">매출 관리</a>
                <a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{/admin/users}" class="nav-link">회원 관리</a>
            </nav>
        </div>
    </header>
    
    
    <div class="mb-3">
        브랜드명 : <div class="border bg-light rounded p-2" th:text="${item.brand.name}"></div>
        상품명 : <div class="border bg-light rounded p-2" th:text="${item.name}"></div>
        카테고리 : <div class="border bg-light rounded p-2" th:text="${item.category}"></div>
    </div>

    <h2>대여가 완료되었습니다.</h2>

    <hr>
    <h2>주의사항</h2>
    <p>- 상품 미반환시 계정이 정지될 수 있습니다.</p>
    <p>- 대여기간 : 대여일로부터 7일</p>
    <p>- 대여횟수</p>
    <p>[SILVER] 등급 : 7일 기준 상품 3개 대여가능</p>
    <p>[GOLD] 등급 : 7일 기준 상품 5개 대여가능</p>
    <p>[VIP] 등급 : 7일 기준 상품 10개 대여가능</p>


    <h2>상품 안내사항</h2>
    <p>- 상품 취급 시 주의사항 부분을 반드시 확인하시고 안내사항을 따라주세요.</p>
    <p>- 전반적으로 보풀 등이 있을 수 있으며 이는 편직 과정에서 발생할 수 있는 특징으로 제품의 하자나 불량 상품이 아닙니다.</p>
    <p>- 심한 마찰로 인해 보풀 현상이 발생할 수 있으니 주의하여 착용하시기 바랍니다.</p>

    <a th:href="@{'/item/list'}" class="btn btn-outline-danger ms-2">목록으로 돌아가기</a>

</div>
</body>
</html>