<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/header.css}">
	
	<title th:text="'대여 신청 - ' + ${item.name}">대여 신청</title>
</head>

<body>
	<div class="container mt-3">
		
		<!-- 상단 메뉴 -->
		<th:block th:insert="~{common/header::header}"></th:block>
		
		<div class="container mt-3">
			
			<h2>대여 신청</h2>
			
			<hr>
			
			<div class="mb-3 mt-3 clearfix">
				<span class="float-start me-2">상품 ID: [[${item.id}]]</span>
			</div>
			
			<hr>
			
			<form name="frm" th:action="@{/order/complete/{id}(id=${item.id})}" method="post">
				<input type="hidden" name="id" th:value="${user.id}"/>
				<input type="hidden" name="username" th:value="${user.username}"/>
				<input type="hidden" name="name" th:value="${user.name}"/>
				
				<h3>정보입력</h3>
				
				<div class="mb-3">
					<label>이름:</label>
					<span class="form-control" readonly th:text="${user.name}"></span>
				</div>
				
				<div class="mb-3 mt-3">
					<label for="phoneNum">연락처:</label>
					<input type="text" class="form-control" id="phoneNum" name="phoneNum"
						   th:value="${phoneNum != null ? phoneNum : user.phoneNum}" placeholder="연락처를 입력하세요">
					<span class="text-danger" th:if="${error_phoneNum}" th:utext="${error_phoneNum}"></span>
				</div>
				
				<div class="mb-3 mt-3">
					<label for="address">주소지:</label>
					<input type="text" class="form-control" id="address" name="address"
						   th:value="${address != null ? address : user.address}" placeholder="주소지를 입력하세요">
					<span class="text-danger" th:if="${error_address}" th:utext="${error_address}"></span>
				</div>
				
				<hr>
				
				<h3>상품정보</h3>
				
				<div class="mb-3 mt-3">
					<label>브랜드:</label>
					<span class="form-control" readonly th:text="${item.brand.name}"></span>
				</div>
				
				<div class="mb-3 mt-3">
					<label>상품명:</label>
					<span class="form-control" readonly th:text="${item.name}"></span>
				</div>
				
				<div class="mb-3 mt-3">
					<label>카테고리:</label>
					<span class="form-control" readonly th:text="${item.category}"></span>
				</div>
				
				<hr>
				
				<div class="d-flex">
					<button type="submit" class="btn btn-outline-danger">대여 확정하기</button>
					<button type="button" class="btn btn-outline-dark ms-2" onclick="history.back()">이전으로</button>
				</div>
			</form>
		
		</div>
	</div>
</body>
</html>