<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

	<script src="/js/BrandUpdate.js"></script>

	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<title>Title</title>
</head>

<body>
	
	<!-- 상단 메뉴 -->
	<th:block th:insert="~{common/header::header}"></th:block>
	
	<form name="frm" th:action="@{/brand/mypage/update}" method="post" th:object="${brand}">
		<input type="hidden" name="id" th:value="${brand.id}"/>
		
		<div class="mb-3">
			<label>이름:</label>
			<span class="form-control" readonly th:text="${brand.name}"></span>
		</div>
		
		<div class="mb-3">
			<label>아이디:</label>
			<span class="form-control" readonly th:text="${brand.username}"></span>
		</div>

		<div class="form-check form-switch mb-3">
			<input class="form-check-input" type="checkbox" id="changePasswordToggle" th:checked="${passwordFields}">
			<label class="form-check-label" for="changePasswordToggle">비밀번호 변경</label>
		</div>

		<div id="passwordBox"
			 th:style="${passwordFields} ? '' : 'display:none'">

			<div class="mb-3">
				<label for="password">새 비밀번호</label>
				<input type="password" class="form-control" id="password" name="password" placeholder="새 비밀번호 입력">
				<span class="text-danger" th:if="${error_password}" th:text="${error_password}"></span>
			</div>

			<div class="mb-3">
				<label for="password2">비밀번호 확인</label>
				<input type="password" class="form-control" id="password2" name="password2" placeholder="새 비밀번호 확인 입력">
				<span class="text-danger" th:if="${error_password2}" th:text="${error_password2}"></span>
			</div>
		</div>


		<div class="mb-3">
			<label for="phoneNum">대표번호:</label>
			<input type="text" class="form-control" id="phoneNum" name="phoneNum" th:value="${phoneNum != null ? phoneNum : brand.phoneNum}" placeholder="대표번호 입력">
			<span class="text-danger" th:if="${error_phoneNum}" th:text="${error_phoneNum}"></span>
		</div>

		<div class="mb-3 mt-3">
			<label for="description">소개:</label>
			<textarea class="form-control" id="description" name="description" rows="5" placeholder="소개를 입력하세요" th:text="${description != null ? description : brand.description}"></textarea>
		</div>

		<button type="submit" class="btn btn-outline-danger">수정완료</button>
		<button type="button" class="btn btn-outline-secondary" onclick="history.back()">이전으로</button>
	</form>

</body>
</html>